<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список клиник</title>
</head>
<body>
<h1>Список клиник</h1>
<form action="/clinics/add" method="post" th:object="${clinic}">
    <input type="text" name="name" th:field="*{name}" placeholder="Название клиники" required>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Название не менее 2 символов</div>
    <button type="submit" formmethod="post">Добавить клинику</button>
</form>

<h2>Все клиники:</h2>

<ul>
    <th:block th:each="clinic : ${clinics}">
        <li>
            <span th:text="${clinic.name}"></span>
            <form action="/clinics/update" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${clinic.id}" required>
                <input type="text" name="name" th:value="${clinic.name}" placeholder="Название клиники" required>
                <button type="submit" formmethod="post">Обновить</button>
            </form>
            <form action="/clinics/delete" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${clinic.id}" required>
                <button type="submit" formmethod="post">Удалить</button>
            </form>
        </li>
    </th:block>
</ul>
</body>
</html>