<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список лечений</title>
</head>
<body>
<h1>Список лечений</h1>
<form action="/treatments/add" method="post" th:object="${treatment}">
  <input type="text" name="description" th:field="*{description}" placeholder="Описание лечения" required>
  <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Описание не менее 2 символов</div>
  <button type="submit" formmethod="post">Добавить лечение</button>
</form>

<h2>Все лечения:</h2>

<ul>
  <th:block th:each="treatment : ${treatments}">
    <li>
      <span th:text="${treatment.description}"></span>
      <form action="/treatments/update" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${treatment.id}" required>
        <input type="text" name="description" th:value="${treatment.description}" placeholder="Описание лечения" required>
        <button type="submit" formmethod="post">Обновить</button>
      </form>
      <form action="/treatments/delete" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${treatment.id}" required>
        <button type="submit" formmethod="post">Удалить</button>
      </form>
    </li>
  </th:block>
</ul>
</body>
</html>