<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список ветеринаров</title>
</head>
<body>
<h1>Список ветеринаров</h1>
<form action="/vets/add" method="post" th:object="${vet}">
  <input type="text" name="name" th:field="*{name}" placeholder="Имя ветеринара" required>
  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Имя не менее 2 символов</div>
  <button type="submit" formmethod="post">Добавить ветеринара</button>
</form>

<h2>Все ветеринары:</h2>

<ul>
  <th:block th:each="vet : ${vets}">
    <li>
      <span th:text="${vet.name}"></span>
      <form action="/vets/update" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${vet.id}" required>
        <input type="text" name="name" th:value="${vet.name}" placeholder="Имя ветеринара" required>
        <button type="submit" formmethod="post">Обновить</button>
      </form>
      <form action="/vets/delete" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${vet.id}" required>
        <button type="submit" formmethod="post">Удалить</button>
      </form>
    </li>
  </th:block>
</ul>
</body>
</html>